.outer-div{
    /* width: 40%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}
.outer-div ul{
    /* background-color: aqua; */
    list-style: none;
    gap: 1rem;
    /* width: 100%; */
    /* border: 1px solid red; */
}
.outer-div li{
    height: 2rem;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px gray;
   

}
/* .inner-div button{
    float: right;
} */
.inner-div{
    width: 33%;
    /* border: 1px solid red; */
}