.outer-div{
    display: flex;
  background-color: rgba(173, 169, 169,0.3);

  padding: 5px;
  border-radius: 10px;
}
.inner-div{
    width: 33%;
}
.inner-div ul{
    list-style: none;
}
.cen{
    border-inline: 3px solid black;
}
.inner-div li{
    height: 2rem;
    margin: 10px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px gray;
    background-color: rgb(168, 162, 155,0.5);
}