.prod-img:hover{
    transform: scale(1.5);
    filter: brightness(130%);
    /* max-height: 250px; */
}
.prod-img{
    transition: ease-in 0.5s;
}
.img{
overflow: hidden;
}
.prod-container{
    overflow: hidden;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  
  
  
  .summary {
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color: #8a2b06;
  }
  
  .amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
  }
  .cart-img{
    height: 30px;
    border-radius: 5px;
  }
  
  .actions {
   background-color: transparent;
   border: none;
   font-size: 30px;
  }
  .button{
    display: flex;
    justify-content: center;
   
  }